/**
 *  Config
 */

@font-family: 'museo300', 'Roboto', Helvetica, Arial, sans-serif;
@font-family-secondary: 'Roboto', Helvetica, Arial, sans-serif;


@white: #fff;
@black: #4b4a4c;

@grey-shade-one: #cfcece;

@primary-color: #d83454;


@primary-bg: @primary-color;
@secondary-bg: #f1f2f2;

@img-url: "../../images/";
@pic-url: "../pictures/";
@font-url: "../../fonts/";