html, body {
    width: 100%;
    height: 100%;
}

body {
	font-family: @font-family;
	color: @black;
	background-color: @secondary-bg;
}

h2 {
	text-align: center;
	font-size: 50px;
	@media screen and (min-width: 768px ) {
		font-size: 60px;
		margin-bottom: 45px;
	}
}