/**
 *  Font
 */

@font-face {
    font-family: 'museo300';
    src: url('../../fonts/Museo300-Regular-webfont.eot');
    src: url('../../fonts/Museo300-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Museo300-Regular-webfont.woff2') format('woff2'),
         url('../../fonts/Museo300-Regular-webfont.woff') format('woff'),
         url('../../fonts/Museo300-Regular-webfont.ttf') format('truetype'),
         url('../../fonts/Museo300-Regular-webfont.svg#museo300') format('svg');
    font-weight: normal;
    font-style: normal;

}