.clients {
	position: relative;
	background-color: @secondary-bg;
	.next-section-link {
		margin-top: 60px;
	}
}
.client {
	&__carousel {
		margin-left: 50px;
		margin-right: 50px;
		padding-top: 100px;
		padding-bottom: 40px;
		@media screen and (min-width: 768px ) {
			padding-top: 115px;
			padding-bottom: 115px;
		}
	}
	&__logo img{
		max-width: 160px;
		max-height: 160px;
		margin-left: auto;
		margin-right: auto;
	}
}
.arrow {
	background: none;
	border: none;
	display: none !important;

	@media screen and (min-width: 768px ) {
		display: block !important;
	}

	&.prev-arrow, &.next-arrow {
		position: absolute;
		top: 50%;
	}

	&.prev-arrow {
		left: 15px;
	}

	&.next-arrow {
		right: 15px;
	}
}