.contact-form {
	font-size: 20px;
	font-weight: 300;
	font-family: @font-family-secondary;
	max-width: 75%;
	padding-top: 30px;
	padding-bottom: 30px;
	@media screen and (min-width: 768px ) {
		max-width: 40%;
		padding-top: 0;
	}

	&__info p {
		font-size: 14px;
		text-align: center;
	}

	.form-group {
		margin-bottom: 20px;
	}
	.form-control {
		font-family: @font-family-secondary;
		font-size: 20px;
		padding: 12px 18px;
		height: auto;
		border: 2px solid @grey-shade-one;
		border-radius: 2px;
	}
	.form-control::-webkit-input-placeholder { color: lighten(@black, 5%); }
	.form-control:-moz-placeholder { color: lighten(@black, 5%); }
	.form-control::-moz-placeholder { color: lighten(@black, 5%); }
	.form-control:-ms-input-placeholder { color: lighten(@black, 5%); }
	.btn {
		margin-bottom: 30px;
		padding: 15px 12px;
		font-size: 20px;
	}
}

// #map {
// 	height: 400px;
// }

// .map {
// 	box-shadow: inset 0px -1px 14px 0px #080808;
// 	-webkit-box-shadow: inset 0px -1px 14px 0px #080808;
// 	-moz-box-shadow: inset 0px -1px 14px 0px #080808;
// 	-o-box-shadow: inset 0px -1px 14px 0px #080808;
// }
.map-container {
    position: relative;
    overflow: hidden;
}
.map-container:before, .map-container:after, .map:before, .map:after {
    content: '';
    position: absolute;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.map-container:before { top: -5px; left: 0; right: 0; height: 5px; }
.map {
	height: 400px;
}
.map:before { bottom: -5px; left: 0; right: 0; height: 5px; }
.gmnoprint {
	display: none;
}