.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 400px;
    background-color: @primary-bg;
    color: @white;

    &__logo {
    	max-width: 273px;
        margin-bottom: 0;
        @media screen and (min-width: 768px ) {
            margin-bottom: 40px;
        }
    }

    &__text {
    	font-size: 21px;
        width: 76%;
        margin: 40px auto 65px;
        @media screen and (min-width: 768px ) {
    	    width: 40%;
        }
    }
}