.introduction {
	display: table;
	position: relative;
	width: 100%;
	height: 100%;
    min-height: 400px;
	background-color: @secondary-bg;
	color: @black;

	&__illustraion {
		max-width: 235px;
		margin-bottom: 70px;
		margin-top: 95px;
		@media screen and (min-width: 768px ) {
			max-width: 465px;
			margin-bottom: 70px;
			margin-top: 95px;
		}
	}

	&__text {
		margin-bottom: 40px;
		font-size: 29px;
		&--special {
			color: @primary-color;
		}
	}
}