.next-section-link {
	margin-top: 40px;
	display: block;
	margin-bottom: 30px;
	&__image {
		margin-left: auto;
		margin-right: auto;
		display: block;
		max-width: 45px;
	}
}

.btn-default--geeklab {
	background: @primary-bg;
	color: @white;
	transition: background 0.35s;
	font-family: @font-family-secondary;
	font-weight: 300;
	&:hover {
		background: darken(@primary-bg, 10%);
		color: @white;
	}
}