.service {
	text-align: center;
	&__image {
		background-color: @primary-bg;
		border-radius: 50%;
		width: 60px;
		height: 60px;
		padding: 18px 16px;
		float: left;
		overflow: hidden;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
		@media screen and (min-width: 768px ) {
			margin-bottom: 60px;
			width: 190px;
			height: 190px;
			padding: 70px 50px;
			float: none;
		}
		img {
			max-width: 30px;
			max-height: 30px;
			@media screen and (min-width: 768px ) {
				max-width: 75px;
				max-height: 75px;
			}
		}
	}
	p {
		font-size: 21px;
		line-height: 60px;
		margin-bottom: 0;
		float: left;
	    padding-left: 30px;
		@media screen and (min-width: 768px ) {
			line-height: normal;
			margin-bottom: 10px;
			float: none;
			padding-left: 0;
		}
	}
}

.services {
	background-color: @white;
	&__list {
		padding-top: 45px;
	}
}